{% extends 'layout.html'%}{%block title %} About {% endblock %}{%block content%}
<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="{{ url_for('static', filename='assets/images/about-left-image.png') }}" alt="" />
                </div>
            </div>
            
</div>
{%endblock %}